 .header-container{
    display: flex;
    background-color: ivory;
    font-size: 20px;
    
     
}
.half h2{
    color:tomato;
    
    text-shadow: 3px 3px 20px #ff99cc;
 
}
 
.half{
    width: 50%;
    padding: 3%;
   

}
.half img{
    width: 80%;
     border-radius: 50px;
     box-shadow: 5px 10px 10px green;
}
.btn{
    text-decoration: none;
    font-size: 30px;
   background-image: linear-gradient(rgb(207, 39, 9),yello);
   padding: 5px 10px;
   border-radius: 10px;
   box-shadow: 5px 10px 10px green ;
}

.main-body{
    min-width: 80%;
    margin: auto;
     text-align: center;
     color: blue;
    
    text-shadow: 3px 3px 20px #ff99cc;
 

}
table{
    width: 100%;
    text-align: center;
     
}
.contact-container{
    background-color:bisque ;
    border-radius: 10px;
    box-shadow: 5px 10px 10px green ;
     


}
 #education-experience{
    max-width: 80%;
    margin: auto;
    margin-top: 4%;
    border-radius: 10px;
    box-shadow: 5px 10px 10px green ;
    border-top: 5px solid green;
    padding: 30px;
    background-color: ivory;
     
 }
 .tools-items{
    display: flex;
    gap: 20px;
    max-width: 80%;
     
    margin: auto;

}
 .item{
    background-color: cornsilk;
    padding: 2%;
    box-shadow: 5px 10px 10px gray;
    border-radius: 10px;

     
 }
 .tootls h1{
    text-align: center;
    font-size: 28px;
    color: #d71414;
 }

 .footer-container{
    
 }
.footer-container{
    width: 100%;
    background: #151414; 
    margin-top: 20px;

    padding: 50px 0;
    display: flex;
    gap: 30px;
    
    justify-content: space-between;
}
.footer-container div h2{
    font-size: 30px ;
    text-align: center;
    color: #aa2727;
}
.footer-container div p{
    color: #532929;
    text-align: center;
    margin: 15px 0;
}
.footer-container div ul{
    list-style-type: none;
    margin-bottom: 15px;
}
.footer-container div ul li{
    color: #4b3131;
    line-height: 2;
}

.footer-icons {
    display: flex;
    gap: 10px;
}
.footer-icons i{
    font-size: 30px;
    color: #fff;
    
}
.footer-left{
    flex-basis: 50%;
}
.footer-right{
    flex-basis: 25%;
}
.footer-right h3{
    color: blue;
}
 
.footer-right input {
    padding: 12px;
    width: 80%;
    margin: 15px 0;
    background:  wheat;
    border: 2px solid white;
    border-radius: 10px;
}
.footer-right button{
     
    padding: 10px 30px;
    margin: auto;
    background: wheat;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 1), 
}








 