 .header-container{
    display: flex;
    background-color: ivory;
    font-size: 20px;
    
     
}
.half h2{
    color:tomato;
    
    text-shadow: 3px 3px 20px #ff99cc;
 
}
 
.half{
    width: 50%;
    padding: 3%;
   

}
.half img{
    width: 80%;
     border-radius: 50px;
     box-shadow: 5px 10px 10px green;
}
.btn{
    text-decoration: none;
    font-size: 30px;
   background-image: linear-gradient(rgb(207, 39, 9),yello);
   padding: 5px 10px;
   border-radius: 10px;
   box-shadow: 5px 10px 10px green ;
}

.main-body{
    min-width: 80%;
    margin: auto;
     text-align: center;
     color: blue;
    
    text-shadow: 3px 3px 20px #ff99cc;
 

}
table{
    width: 100%;
    text-align: center;
     
}
.contact-container{
    background-color:bisque ;
    border-radius: 10px;
    box-shadow: 5px 10px 10px green ;
     


}
 #education-experience{
    max-width: 80%;
    margin: auto;
    margin-top: 4%;
    border-radius: 10px;
    box-shadow: 5px 10px 10px green ;
    border-top: 5px solid green;
    padding: 30px;
    background-color: ivory;
     
 }
 .tools-items{
    display: flex;
    gap: 20px;
    max-width: 80%;
     
    margin: auto;

}
 .item{
    background-color: cornsilk;
    padding: 2%;
    box-shadow: 5px 10px 10px gray;
    border-radius: 10px;

     
 }
 .tootls h1{
    text-align: center;
    font-size: 28px;
    color: #d71414;
 }









.footer{
    margin: 300px;
}